# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
MMML_venv/

# JetBrains
.idea/

# VSCode
.vscode/

# Saved images from the Web UI
saved_images/

# Output folder from hydra
output/
outputs/

# Cache dir for stable diffusion model
cache/